.articles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

        &__box {
            background-color: #d9d9d9ad;
            width: 301px;
            padding-left: 5px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 5px;
            box-shadow: 2px 2px 2px grey;

                &__logo {
                    font-size : 40px;
                }

                &__texte{ 
                    text-align: center;
                    width: 70%;

                    &__titre {
                        font-size: 14px;
                    }
                }

                &__logo {
                    color : #0D6EFD; 
                }
    }
}

.fleche {
    background: none;
    border: none;
    font-size: 60px;
    font-weight: bold;
    color : #0D6EFD;
    text-shadow: 2px 2px 2px rgb(185, 184, 184);
    font-family: 'Tilt Neon', cursive;
}


@media  screen and (min-width: 481px) {
.articles__box {
    width: 80%;
    max-width: 700px;
}

.articles__box__logo {
    font-size: 70px;
}

.articles__box__texte__titre {
    font-size: 18px;
}

.articles__box__texte__p {
    font-size: 14px;
}
}


@media  screen and (min-width: 1280px) {
.articles {
    flex-direction: row;
    width: 80%;
    margin: 40px auto 100px auto;

    &__box {
        background: none;
        box-shadow: none;
        flex-direction: column;

        &__logo {
            font-size: 80px;
        }

        &__texte {

            &__titre {
                font-size: 25px;
            }

            &__p {
                font-size: 18px;
            }
        }
    }
}
}